body{
    background-color: #defcf9;
}
h1{
    text-align: center;
    color: #cca8e9;
    font-family:'Courier New', Courier, monospace;
  
}
.container
{
    display: grid;
    grid-template-columns: 20% 100%;
    grid-template-rows: 100% 100%;
   
}
.side
{
    display: flex;
    flex-direction: column;
    background-color:#cadefc;
    height: 700px;
    padding-top: 50px;
    font-family:'Courier New', Courier, monospace;
    font-size: large;
    font-weight: 500;
}

menu{
    list-style-type: none;

} 
.sidebar 
{
    float: left;
    overflow: hidden;
    list-style-type: none;
}
#cont
{
display: none;
padding: 60px 60px;
font-family:'Courier New', Courier, monospace;
font-size: large;
font-weight: 500;
}
#lihov1:hover
{
background-color: #c3bef0;
text-decoration: underline;
}